/* class headerStyle */
.footerStyle body {margin:0;}

.footerStyle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444; /*charchoal*/
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerStyle li {
    float: right;
    font-family: sans-serif;
    font-weight: bolder;
}

.footerStyle li a {
    display: block;
    color: #ffffff;  /* white */
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.footerStyle li a:hover:not(.active) {
    background-color:  #D3D3D3; /* light grey */
}
