/* mmmmmmmmmmmmmmmmmmmm id's for divs mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
#parent {
  display: flex;
}
#one {
  width: 15em;
/*   background: lightblue; */
}

#two {
  width: 30em;
/*   background: lightblue; */
}

#three {
  width: 40em;
  /*  background: green;  */
}

#wide {
  flex: 1;
  /* Grows to rest of container */
/*  background: lightgreen;  */
}

/* mmmmmmmmmmmmmmmmmmmm in-line block boxes Named for either what they are
used for or a rough em size  mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/

.check-box {
	display: inline-block;
	width: 5em;
	height: 2em;
	margin: 0.1em;
	/*	border: 1px solid green; */
}

.date-box {
	display: inline-block;
	width: 10.5em;
	height: 2em;
	margin: 0.1em;
	/*	border: 1px solid green; */
}

.dynamic-box {
	display: inline-block;
	margin: 1em;
	/*	background-color:#94b9d2; */
	/* 	border: 0.1em solid blue; */
}

.extraLong-box {
	display: inline-block;
	width: 20em;
	height: 2em;
	margin: 0.1em;
	/*	border: 1px solid green;  */
}

.large-box {
	display: inline-block;
	width: 13em;
	height: 2em;
	margin: 0.1em;
/*	border: 1px solid green; */
}

.sixChar-box {
	display: inline-block;
	width: 10em;
	height: 2em;
	margin: 0.1em;
	/*	border: 1px solid green; */
}

.sixCharRight-box {
	display: inline-block;
	text-align: right;
	width: 10em;
	height: 2em;
	margin: 0.1em;
	/*	border: 1px solid green; */
}

.target-box {
	display: inline-block;
	width: 15em;
	height: 2em;
	margin: 0.1em;
/*	border: 1px solid green;   */
}

.tenChar-box {
	display: inline-block;
	width: 12em;
	height: 2em;
	margin: 0.1em;
	/*	border: 1px solid green; */
}

.threeChar-box {
	display: inline-block;
	width: 6em;
	height: 2em;
	margin: 0.1em;
/*	border: 1px solid green; */
}

.twoChar-box {
	display: inline-block;
	width: 5em;
	height: 2em;
	margin: 0.1em;
/*	border: 1px solid green; */
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmm formStyle mmmmmmmmmmmmmmmmmmmmmmmm*/
.formStyle label {
	text-align:left;
	float: left;
	vertical-align:top;
	width: 15em;
	padding-right: 2em;
	font-weight:normal;
}

/*  this is the same as form.css */
.accesskey{
	text-decoration:underline;
}

.checkbox {
	margin-left: 0px
}

.formStyle .flowLabel{
	float:none; /* labels will float with object */
	width:0px;
	text-align:left;
}

.formStyle  input, textarea, select, button {
	margin-bottom:5px;
	/* font: inherit; */
}

.formStyle fieldset input{
	float:none; /*groupbox for radiobuttons- radiobuttons go down=change float.*/
}

.formStyle br {clear:both;} /*clears wrapping on inputs, I think */

/* for error icons in next unit; could use tortoise error icon*/
.formStyle  img {
		margin-left: 5px;
		vertical-align:top;
}
