/* class headerStyle */
.headerStyle body {margin:0;}

.headerStyle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444; /*charchoal*/
    position: fixed;
    top: 0;
    width: 100%;
}

.headerStyle li {
    font-family: sans-serif;
    font-weight: bolder;
    float: right;
  /*  position: relative; */
}

.headerStyle li a {
    display: block;
    color: #ffffff;  /* white */
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.headerStyle li a:hover:not(.active) {
    background-color: #623f99; /*purple */
}

.headerStyle .active {
    background-color: #4CAF50;
}
