

/* Enables scroll-bar because there are more fields than screen space */
div {
    overflow-x:auto;
}

/* ////////////////////// TABLE ///////////////////////////// */
table {
  /*  border: 0.1em solid black; */
    border-collapse: collapse;
    padding: 3em;
    width: 100%;
}

th {
   background-color: #55c8fa;
   font-weight:bold;
}

td, th {
    padding: 0.5em;
    text-align: center;
/*   border: 0.1em solid black; */
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

 tr:hover {
    background-color: #d6ff97;
 }
 /*END ////////////////////// TABLE ///////////////////////////// */


 .large-box {
 	display: inline-block;
 	width: 13em;
 	height: 5em;
 	margin: 0.1em;
 /*	border: 1px solid green; */
 }


 .caseNum-box {
 	display: inline-block;
 	width: 10em;
 	height: 5em;
 	margin: 0.1em;
/* 	border: 1px solid yellow; */
 }
