#parent {
  display: flex;
}

#four {
  width: 75em;
  /*  background: lightblue; */
}

#wide {
  flex: 1;
/*  background: lightgreen; */  /* photo is in here*/
}

div {
    margin-top: 3em;
    margin-bottom: 3em;
  /*  border: 0.1em solid blue;  */
}

.logIn-box {
	display: inline-block;
	width: 15em;
	height: 5em;
	margin: 1em;
/*	border: 1px solid green; */
}
