
/* This situates the nav and sections correctly.  */
.clearfix {
    overflow: auto;
}

/*Div setting for all pages */
div {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  /*  border: 0.1em solid blue;   */
}

/* Entire contents of page wrapped in div.
Margin of 5em so it won't overlap with the header */
#pageDiv {
    margin-top: 5em;
    margin-bottom: 5em;
/*    border: 0.1em solid blue;  */
}


/*   display: "";   */
.hidden {
    display: none;
}

/* Each partition of the main part of the page */
section {
    padding-left: 2em;
    font-family: arial, helvetica, sans-serif;
    margin-left: 0.01em;
  /*  background-color: inherit; */
/*   border: 0.2em solid red;  */
}


.large-box {
	display: inline-block;
	width: 13em;
	height: 2em;
	margin: 0.1em;
/*	border: 1px solid green; */
}

.caseNum-box {
	display: inline-block;
	width: 10em;
	height: 2em;
	margin: 0.1em;
/*	border: 1px solid yellow;  */
}


/* //////////// SIDE NAV //////////////////////*/

nav {
    float: left;
    width: 17em;
    border: 0.1em solid #708090; /* slate grey */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0687bf; /*dark cyan */
  border: 0.1em solid #555; /* black */
}

nav li a {
  display: block;
  color: #000;
  padding: 1.5em 1em;
  text-decoration: none;
}

nav li{
  text-align: center;
  border-bottom: 0.1em solid #5E5E5E;
}

nav li:last-child {
  border-bottom: none;
}

nav li a.inactive {
  background-color: #4a6c7b;
  color: #000;
}

nav li a.active {
  background-color: #55c8fa;
  color: #010e14;
}

nav li a:hover:not(.active){
  background-color:#94b9d2;
  color:  white;
}
/* end //////////// SIDE NAV //////////////////////*/
