
/* ////////////////////// TABLES ///////////////////////////// */
table {
  /*  border: 0.1em solid black;  */
    border-collapse: collapse;
    padding: 3em;
    table-layout: fixed;
}

.caseNote {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
  text-align: center;
}

th {
   background-color: #55c8fa;
   font-weight:bold;
}

td, th {
    padding: 0.5em;
    text-align: left;
    border-bottom: 0.1em solid #ddd;
/*    border: 0.1em solid black;  */
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

 tr:hover {
    background-color: #d6ff97;
 }

 /*END ////////////////////// TABLES ///////////////////////////// */
